@import "state-components/portfolio/anyvan/anyvan";

#anyvan-portfolio-page {
  $this-client-color: #41a5dd;

  .title {
    color: $this-client-color;
  }

  .large-only .portfolio-header .logo {
    padding-top: 2px;
  }
}

#anyvan-portfolio-page .large-only {
  .full-width-slider {
    height: 597px;
    width: 100%;
  }

  .first.row  {
    .video-container {
      margin: 50px 58px 0 30px;
      width: 340px;
    }

    .description {
      width: 275px;
    }
  }
}
