#free-consultation {
  $this-position: 30px;

  background: rgba(#4c8fe9, 0.95);
  @include border-radius(4px);
  bottom: $this-position;
  color: #ffffff;
  font-family: $Rosario-Regular;
  font-size: 14px;
  height: auto;
  line-height: $small-line-height;
  overflow: hidden;
  padding: 26px 30px 22px 30px;
  position: fixed;
  right: $this-position;
  @include transition(transform ease-in-out 0.25s);
  @include transform(translate3d(0, 0, 0));
  width: 330px;
  z-index: $free-consultation-z-index;

  &.ng-enter {
    @include transform(translate3d(0, 200%, 0));

    &.ng-enter-active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  &.ng-leave {
    @include transform(translate3d(0, 0, 0));

    &.ng-leave-active {
      @include transform(translate3d(0, 200%, 0));
    }
  }

  h2 {
    line-height: 1.3;
    margin-bottom: 10px;

    span {
      text-transform: uppercase;
    }

    strong {
      display: block;
      font-size: 18px;
      font-family: $Rosario-Bold;
    }
  }

  .possible-answers {
    color: #9fc3f3;
    cursor: pointer;
    display: inline-block;
    margin-right: 25px;

    &:hover {
      color: #b8d2f5;
    }
  }
}
