#team-page {
  .team-members {
    font-size: 0;
    text-align: center;
  }

  .team-member {
    background: #ffffff;
    @include box-shadow($normal-box-shadow);
    display: inline-block;
    font-size: $normal-font-size;
    margin: 0 8px;
    text-align: center;
    vertical-align: top;
    width: 325px;

    &__picture {
      display: block;
      height: auto;
      margin-bottom: 20px;
      width: 100%;
    }

    &__name {
      color: #60676e;
      font-size: 22px;
      margin-bottom: 3px;
    }

    &__position {
      color: #9fa7af;
      font-family: $HelveticaNeue-Bold;
      margin-bottom: 18px;
    }

    &__description {
      color: #93a2ad;
      padding: 0 50px;
    }

    &__specialization {
      font-size: 11px;
      margin: 18px 0 40px 0;
      padding: 20px 40px 0 40px;
      position: relative;

      &:before {
        background: #e9ecef;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
      }

      &-title {
        color: #93a2ad;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      &-tags {
        font-size: 0;

        li {
          background: #4c8fe9;
          @include border-radius(3px);
          color: #ffffff;
          display: inline-block;
          font-size: 11px;
          margin: 3px;
          padding: 5px 7px;
        }
      }
    }

    &__social-links {
      $this-count: 3;

      border-top: 1px solid #d0d0d1;
      @include legacy-pie-clearfix;

      li {
        border-right: 1px solid #d0d0d1;
        float: left;
        width: 100% / $this-count;

        &:last-child {
          border-right: 0;
        }

        a {
          color: #9fa7af;
          display: block;
          font-size: 15px;
          line-height: 45px;
          text-align: center;

          &.icon-git {
            font-size: 20px;
          }

          &.icon-stackoverflow {
            font-size: 18px;
          }

          &.icon-dribbble {
            font-size: 17px;
          }

          &.icon-behance {
            font-size: 13px;
          }
        }
      }
    }
  }
}
