.full-width-slider {
  position: relative;
  overflow: hidden;

  .controls {
    @include legacy-pie-clearfix;
    position: absolute;
    bottom: 0;
    right: 0;

    span {
      cursor: pointer;
      display: block;
      float: left;
      font-size: 16px;
      height: 50px;
      opacity: 0.75;
      text-align: center;
      @include transition(opacity $rapid-transition-timing);
      @include user-select(none);
      width: 50px;

      &:before {
        // Centers the arrow
        line-height: 50px;
      }

      &:first-child {
        margin-right: 1px;
      }
    }
  }

  .actual-slider-container {
    height: 100%;
  }
}
