////////////////////
// Custom cursors //
////////////////////

.custom-cursor {
  &.arrow-right {
   cursor:
     url('../assets/cursors/arrow-right.cur'),
     // This fixes the cursors on IE
     url('assets/cursors/arrow-right.cur'),
     auto;
  }

  &.close {
   cursor:
     url('../assets/cursors/close.cur'),
     // This fixes the cursors on IE
     url('assets/cursors/close.cur'),
     auto;
  }

  body.high-dpi-device.windows:not(.chrome) & {
    &.arrow-right {
     cursor:
       url('../assets/cursors/arrow-right@2x.cur'),
       // Not needed as the whole custom cursor thingy doesn't work as expected
       // in IE 10
       // url('assets/cursors/arrow-right.cur'),
       auto;
    }

    &.close {
     cursor:
       url('../assets/cursors/close@2x.cur'),
       // Not needed as the whole custom cursor thingy doesn't work as expected
       // in IE 10
       // url('assets/cursors/close.cur'),
       auto;
    }
  }

  &.normal {
    cursor: auto;

    body.custom-cursors-ie-fix & {
      // All of these rules as needed in order for IE to work properly.
      // Without them, the inheritance is buggy, and sometimes, hovering
      // over text, IE will use the close cursor. Meh...
      cursor: default;

      & > * {
        cursor: auto;
      }

      h1, h2, h3, h4, h5, h6,
      p, input, textarea {
        cursor: text;
      }
    }
  }
}

// Set the correct cursor where appropriate
body.custom-cursors-ie-fix #portfolio-home-page .project-summary {
  .project-title, p {
    cursor: pointer;
  }
}
