.contact-form {
  .invalid-field {
    $this-error-color: #f07317;

    background-image: url(../assets/images/contact/invalid-icon.png);
    background-position: center right $input-horizontal-padding;
    background-repeat: no-repeat;
    background-size: image-width("assets/images/contact/invalid-icon.png") image-height("assets/images/contact/invalid-icon.png");

    border-color: $this-error-color;

    @include input-placeholder {
      color: $this-error-color;
    }
  }

  .success {
    @include transition(opacity 0.2s ease-in-out);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    background: #ffffff;
    padding-top: 220px;
    text-align: center;
    z-index: 10;

    // The fade animation
    &.ng-hide-remove {
      opacity: 0;

      &.ng-hide-remove-active {
        opacity: 1;
      }
    }

    .icon-valid-document {
      color: #8f949a;
      font-size: 145px;
      margin-bottom: 30px;
    }

    .large {
      color: #202a35;
      font-family: $PierSans-Regular;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .small {
      color: #b1b1b1;
      font-size: 14px;
    }
  }
}
