form.contact-form {
  & > .input-container,
  & > input {
    margin-bottom: 35px;
  }

  .input-container {
    position: relative;

    input {
      position: relative;
      z-index: 3;
    }

    .input-validation-message {
      font-size: 0;
      margin-top: -9px;
      position: absolute;
      right: 0;
      vertical-align: middle;
      top: 50%;
      white-space: nowrap;
      z-index: 2;

      .icon-error {
        color: #f43864;
        font-size: 13px;
        padding-right: 5px;
      }

      .validation-message {
        color: #faaebb;
        font-size: 15px;
      }
    }
  }

  .invalid-field {
    $this-error-color: #f07317;

    background-image: url(../assets/images/contact/invalid-icon.png);
    background-position: center right $input-horizontal-padding;
    background-repeat: no-repeat;
    background-size: image-width("assets/images/contact/invalid-icon.png") image-height("assets/images/contact/invalid-icon.png");

    border-color: $this-error-color;

    @include input-placeholder {
      color: $this-error-color;
    }
  }

  .submit-button-container {
    text-align: right;

    .submit-button {
      color: rgba(#93999a, 0.5);
      cursor: pointer;
      display: inline-block;
      font-size: 15px;
      margin: 0 0 23px 0;

      strong {
        text-transform: uppercase;
      }
    }
  }

  .success {
    @include transition(opacity 0.2s ease-in-out);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    background: #ffffff;
    text-align: center;
    z-index: 10;

    // The fade animation
    &.ng-hide-remove {
      opacity: 0;

      &.ng-hide-remove-active {
        opacity: 1;
      }
    }
    .large {
      color: #202a35;
      font-family: $PierSans-Regular;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .small {
      color: #b1b1b1;
      font-size: 14px;
    }

    .success-content {
      display: block;
      left: 0;
      // NOTE hardcoded value to vertically align this
      margin-top: -22px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
    }
  }
}
