.portfolio-header {
  @include box-shadow($normal-box-shadow);
  color: rgba($dark-blue, 0.5);
  height: 95px;

  table {
    height: 100%;
    width: 100%;

    td {
      vertical-align: middle;
    }
  }

  .back-arrow, .description, .logo {
    background-color: rgba(#ffffff, 0.75);
  }

  // This creates the separation effect
  .one-pixel-line {
    background-color: rgba(#8b9096, 0.15);
    width: 1px;
  }

  .back-arrow {
    text-align: center;
    width: 100px;

    a {
      cursor: pointer;
      font-size: 15px;
      opacity: 0.25;
      padding: 10px;
      @include transition(opacity $rapid-transition-timing);

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .description {
    h2, p {
      line-height: $normal-line-height;
      max-width: 525px;
    }
  }

  .logo {
    text-align: center;
    width: 210px;
  }
}
