<header class="portfolio-header">
  <table>
    <tr>
      <td class="back-arrow" ng-if="!isMobile">
        <a ng-if="!goToIndex" ui-sref="root.sub-page-template.portfolio" class="icon-arrow-left-fancy"></a>
        <a ng-if="goToIndex" ui-sref="root.index" class="icon-arrow-left-fancy"></a>
      </td>
      <td class="back-arrow" ng-if="isMobile">
        <a ui-sref="index" class="icon-arrow-left-fancy"></a>
      </td>
      <td class="description">
        <p ng-bind-html="description"></p>
      </td>
      <td class="one-pixel-line"></td>
      <td class="logo">
        <img ng-src="{{clientLogoUrl}}" alt="{{clientName}}">
      </td>
    </tr>
  </table>
</header>
