#index-page .cover {
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(cover);
  color: #ffffff;
  position: relative;
  text-align: center;
  width: 100%;

  .welcome {
    font-family: $MuseoSans-500;
    font-style: italic;
    line-height: 1.25em;
    margin-bottom: 0.5em;

    strong {
      font-family: $MuseoSans-700;
    }
  }

  .location {
    color: #acb4ba;
  }

  @include small-screens {
    background-image: url(../assets/images/mobile/cover-small.jpg);
    height: 206px;

    .big-logo {
      font-size: 50px;
      padding-bottom: 12px;
      padding-top: 35px;
    }

    .welcome {
      font-size: 19px;
    }

    .location {
      font-size: 13px;
    }
  }

  @include medium-screens {
    background-image: url(../assets/images/mobile/cover-medium.jpg);
    height: 266px;

    .big-logo {
      font-size: 58px;
      padding-bottom: 28px;
      padding-top: 48px;
    }

    .welcome {
      font-size: 20px;
    }

    .location {
      font-size: 14px;
    }
  }

  @include large-screens {
    background-image: url(../assets/images/mobile/cover-large.jpg);
    height: 400px;

    .big-logo {
      font-size: 60px;
      padding-bottom: 45px;
      padding-top: 100px;
    }

    .welcome {
      font-size: 27px;
    }

    .location {
      font-size: 17px;
    }
  }
}

#index-page .tabs {
  $this-border: 1px solid #dadcdd;
  $this-tabs-count: 3;

  border-bottom: $this-border;
  color: #bfc5c9;
  @include legacy-pie-clearfix;
  text-align: center;
  width: 100%;

  // A quick way to set all icons height!
  @mixin this-icons-size-fixer($size, $first-icon-size, $second-icon-size, $third-icon-size) {
    .tab-icon {
      height: $size;

      &:before {
        line-height: $size;
        vertical-align: middle;
      }
    }

    .tab:nth-child(1) > .tab-icon {
      font-size: $first-icon-size;
    }

    .tab:nth-child(2) > .tab-icon {
      font-size: $second-icon-size;
    }

    .tab:nth-child(3) > .tab-icon {
      font-size: $third-icon-size;
    }
  }

  .tab {
    border-right: $this-border;
    float: left;
    width: 100% / $this-tabs-count;

    &:last-child {
      border-right: 0;
    }
  }

  @include small-screens {
    @include this-icons-size-fixer(25px, 25px, 17px, 17px);

    .tab {
      padding: 20px 0 15px 0;
    }

    .tab-text {
      font-size: 12px;
      margin-top: 0.7em;
    }
  }

  @include medium-screens {
    @include this-icons-size-fixer(27px, 27px, 19px, 19px);

    .tab {
      padding: 25px 0 15px 0;
    }

    .tab-text {
      font-size: 13px;
      margin-top: 0.9em;
    }
  }

  @include large-screens {
    @include this-icons-size-fixer(32px, 32px, 22px, 22px);

    .tab {
      padding: 30px 0 20px 0;
    }

    .tab-text {
      font-size: 15px;
      margin-top: 1em;
    }
  }
}
