#index-page .introduction {
  min-height: 100vh;
  padding: 45px 12px;
  position: relative;

  @include small-screens {
    padding-left: 0;
    padding-right: 0;
  }

  @include large-screens {
    padding: 20vh 0 0 0;

    &__text {
      margin-bottom: 15vh !important;
    }
  }

  &__welcome {
    color: #474f51;
    font-family: $SourceSansPro-Regular;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.15;

    strong {
      font-family: $SourceSansPro-Bold;
    }

    @include large-screens {
      font-size: 35px;

      &--we-are {
        font-size: 30px;
      }
    }
  }

  &__location {
    color: #909b9e;
    font-size: 17px;
  }

  &__text {
    color: #a5a9ac;
    font-size: 15px;
    margin-top: 40px;
  }

  &__scroll-down {
    &__icon {
      color: #474f51;
      font-size: 27px;
    }

    &__text {
      color: rgba(#b5babd, 0.6);
      margin-top: 20px;
    }
  }

  &__separator {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;

    background: #d1d3d3;
    display: block;
    height: 1px;
    margin: 0 auto;
    width: 25px;
  }
}
