#index-page .introduction {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    background: url(../assets/images/logo-faded.svg) no-repeat;
    background-position: top right;
    @include background-size(auto 310px);
    margin: 70px -65px 0 0;
    z-index: 2;
  }

  .animation-container {
    padding: 50px 12px 45px 12px;
    position: relative;
    z-index: 3;

    @include large-screens {
      &.animation-init {
        opacity: 0;
        @include transform(translate3d(0, 100px, 0));
        @include transition(opacity 0.5s ease-in-out, transform 0.5s ease-in-out);

        &.animation-start {
          opacity: 1;
          @include transform(translate3d(0, 0, 0));
        }
      }
    }
  }

  @include small-screens {
    padding-left: 0;
    padding-right: 0;

    .animation-container {
      padding: 45px 12px;
    }
  }

  @include large-screens {
    &:before {
      height: 70%;
      margin: 12.5vh -150px 0 0;

      @include background-size(contain);
    }

    .container {
      max-width: 500px;
    }

    .animation-container {
      min-height: 100vh;
      padding: 20vh 0 0 0;
    }

    &__text {
      margin-bottom: 15vh !important;
    }
  }

  &__welcome {
    color: #474f51;
    font-family: $SourceSansPro;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.15;

    strong {
      font-family: $SourceSansPro;
      font-weight: 700;
    }

    @include large-screens {
      font-size: 35px;

      &--we-are {
        font-size: 30px;
      }
    }
  }

  &__location {
    color: #909b9e;
    font-size: 17px;
  }

  &__text {
    color: #a5a9ac;
    font-size: 15px;
    margin-top: 40px;
  }

  &__scroll-down {
    &__icon {
      color: #474f51;
      font-size: 27px;
    }

    &__text {
      color: rgba(#b5babd, 0.6);
      margin-top: 20px;
    }
  }

  &__separator {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;

    background: #d1d3d3;
    display: block;
    height: 1px;
    margin: 0 auto;
    width: 25px;
  }
}

#index-page .portfolio-projects {
  @include large-screens {
    $this-spacing: 3px;

    @include legacy-pie-clearfix;

    .portfolio-project {
      position: relative;

      &:before {
        $this-size: 16px;

        content: "";

        border: 1px solid transparent;
        border-left: 0;
        border-top: 0;
        display: block;
        height: $this-size;
        width: $this-size;

        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }

    .portfolio-project--webfaction {
      margin-bottom: 3px * 2;

      &:before {
        border-color: rgba(#474f51, 0.7);
      }
    }

    .portfolio-project--anyvan,
    .portfolio-project--quizkick {
      float: left;
      width: 50%;
    }

    .portfolio-project--anyvan {
      padding-right: 3px;

      &:before {
        border-color: rgba(#474f51, 0.7);
        right: 9px;
      }
    }

    .portfolio-project--quizkick {
      padding-left: 3px;

      &:before {
        border-color: rgba(#ffffff, 0.5);
      }
    }
  }
}

#index-page .portfolio-project {
  display: block;

  @include large-screens {
    &--kartist,
    &--grow {
      display: none;
    }
  }

  &__image {
    display: block;
    height: auto;
    width: 100%;
  }

  &__description {
    @include legacy-pie-clearfix;

    background: #ffffff;
    display: block;
    font-family: $SourceSansPro;
    font-size: 14px;
    line-height: 45px;

    @include large-screens {
      display: none;
    }

    strong {
      font-family: $SourceSansPro;
      font-weight: 700;
    }

    &__number {
      color: #b5b9b9;
      float: left;
    }

    &__name-and-field {
      color: #7e8385;
      float: right;
    }
  }
}

#index-page .footer {
  $this-blue-color: #488dec;

  @include legacy-pie-clearfix;

  a.index-button {
    background: $this-blue-color;
    color: #ffffff;
    display: block;
    text-align: center;
  }

  &.small-and-medium-only {
    a.index-button {
      float: left;
      font-family: $SourceSansPro;
      font-size: 17px;
      line-height: 65px;
      position: relative;
      width: 50%;
    }

    a:first-child:after {
      content: "";

      display: block;
      position: absolute;
      margin-top: -18px;
      right: 0;
      top: 50%;

      background: #7faff2;
      height: 36px;
      width: 1px;
    }
  }

  &.large-only {
    padding: 30px 40px;

    .simple-footer {
      color: rgba(#202a35, 0.7);
      float: left;
      padding: 0;
      text-align: left;

      .social-link {
        margin: 0 16px 0 0;
      }
    }

    a.index-button {
      float: right;
      font-family: $HelveticaNeue-Roman;
      font-size: 14px;
      line-height: 50px;
      width: 175px;
    }
  }
}
