#index-page .introduction {
  min-height: 100vh;
  padding: 45px 12px;
  position: relative;

  @include small-screens {
    padding-left: 0;
    padding-right: 0;
  }

  @include large-screens {
    padding: 20vh 0 0 0;

    &__text {
      margin-bottom: 15vh !important;
    }
  }

  &__welcome {
    color: #474f51;
    font-family: $SourceSansPro-Regular;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.15;

    strong {
      font-family: $SourceSansPro-Bold;
    }

    @include large-screens {
      font-size: 35px;

      &--we-are {
        font-size: 30px;
      }
    }
  }

  &__location {
    color: #909b9e;
    font-size: 17px;
  }

  &__text {
    color: #a5a9ac;
    font-size: 15px;
    margin-top: 40px;
  }

  &__scroll-down {
    &__icon {
      color: #474f51;
      font-size: 27px;
    }

    &__text {
      color: rgba(#b5babd, 0.6);
      margin-top: 20px;
    }
  }

  &__separator {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;

    background: #d1d3d3;
    display: block;
    height: 1px;
    margin: 0 auto;
    width: 25px;
  }
}

#index-page .portfolio-projects {
  @include large-screens {
    $this-spacing: 3px;

    @include legacy-pie-clearfix;

    .portfolio-project {
      position: relative;

      &:before {
        $this-size: 16px;

        content: "";

        border: 1px solid transparent;
        border-left: 0;
        border-top: 0;
        display: block;
        height: $this-size;
        width: $this-size;

        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }

    .portfolio-project--webfaction {
      margin-bottom: 3px * 2;

      &:before {
        border-color: rgba(#474f51, 0.7);
      }
    }

    .portfolio-project--anyvan,
    .portfolio-project--quizkick {
      float: left;
      width: 50%;
    }

    .portfolio-project--anyvan {
      padding-right: 3px;

      &:before {
        border-color: rgba(#474f51, 0.7);
        right: 9px;
      }
    }

    .portfolio-project--quizkick {
      padding-left: 3px;

      &:before {
        border-color: rgba(#ffffff, 0.5);
      }
    }
  }
}

#index-page .portfolio-project {
  display: block;

  @include large-screens {
    &--kartist,
    &--grow {
      display: none;
    }
  }

  &__image {
    display: block;
    height: auto;
    width: 100%;
  }

  &__description {
    @include legacy-pie-clearfix;

    background: #ffffff;
    display: block;
    font-family: $SourceSansPro-Regular;
    font-size: 14px;
    line-height: 45px;

    @include large-screens {
      display: none;
    }

    strong {
      font-family: $SourceSansPro-Bold;
    }

    &__number {
      color: #b5b9b9;
      float: left;
    }

    &__name-and-field {
      color: #7e8385;
      float: right;
    }
  }
}
