#kartist-portfolio-page {
  $this-client-color: #5cc6eb;
  $this-custom-margin: 70px;

  em {
    font-style: italic;
  }

  .portfolio-header .logo img {
    height: image-height("assets/images/portfolio/kartist/logo.png");
    width: image-width("assets/images/portfolio/kartist/logo.png");
  }

  .carousel-slider {
    height: 600px;
    width: 100%;
  }

  .kartist-container {
    margin: 0 auto;
    width: 760px;
  }

  .row .title, .row .button {
    color: $this-client-color;
  }

  .row .button {
    border-color: $this-client-color;
    margin-top: 1em;
  }

  .row .button:hover {
    background: $this-client-color;
  }

  .row ul.navigation-tabs {
    margin-top: 30px;
  }

  .design {
    .row.second {
      padding: 75px 0 65px 0;

      .video-container {
        width: image-width("assets/images/portfolio/kartist/imac-frame.png");

        video {
          right: 0;
          top: 31px;
        }
      }

      .description {
        margin-left: $this-custom-margin;
        width: 350px;
      }
    }

    .row.third {
      padding: 65px 0 45px 0;

      img {
        max-width: image-width("assets/images/portfolio/kartist/in-page-3.jpg");
      }

      .description {
        margin-left: $this-custom-margin;
        width: 310px;
      }
    }

    .row.fourth {
      padding: 0 0 40px 0;

      img {
        max-width: image-width("assets/images/portfolio/kartist/in-page-4.jpg");
      }

      .description {
        margin-left: $this-custom-margin;
        margin-top: 4%;
        width: 212px;

        .logo-by {
          color: #babec2;
          margin-top: 30px;

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .development {
    $this-smaller-custom-margin: $this-custom-margin * 0.7;

    .row {
      .half-of-row {
        float: left;
        width: 50%;
      }

      &.first, &.third, &.fifth {
        padding: $this-custom-margin $this-custom-margin $this-smaller-custom-margin $this-custom-margin;
      }

      &.third {
        $this-custom-line-extra-space: 15px;
        padding-bottom: $this-custom-margin - $this-custom-line-extra-space;
        padding-top: $this-custom-margin - $this-custom-line-extra-space;

        p:last-child {
          margin-bottom: 0;
        }

        .half-of-row {
          padding-bottom: $this-custom-line-extra-space;
          padding-top: $this-custom-line-extra-space;

          &:first-child {
            border-right: 1px solid #e7e8ea;
            padding-right: $this-custom-margin;
          }

          &:last-child {
            padding-left: $this-custom-margin;
          }
        }
      }

      &.fifth {
        padding-bottom: $this-custom-margin;
      }
    }
  }
}
