#kartist-portfolio-page {
  $this-client-color: #5cc6eb;
  $this-custom-margin: 70px;

  .portfolio-header .logo img {
    height: image-height("assets/images/portfolio/kartist/logo.png");
    width: image-width("assets/images/portfolio/kartist/logo.png");
  }

  .carousel-slider {
    height: 600px;
    width: 100%;
  }

  .row .title, .row .button {
    color: $this-client-color;
  }

  .row .button {
    border-color: $this-client-color;
    margin-top: 1em;
  }

  .row .button:hover {
    background: $this-client-color;
  }

  .row.second {
    padding: 75px 0 65px 0;

    .video-container {
      width: image-width("assets/images/portfolio/kartist/imac-frame.png");

      video {
        right: 0;
        top: 31px;
      }
    }

    .description {
      margin-left: $this-custom-margin;
      width: 350px;
    }
  }

  .row.third {
    padding: 65px 0 45px 0;

    img {
      max-width: image-width("assets/images/portfolio/kartist/in-page-3.jpg");
    }

    .description {
      margin-left: $this-custom-margin;
      width: 315px;
    }
  }

  .row.fourth {
    padding: 0 0 40px 0;

    img {
      max-width: image-width("assets/images/portfolio/kartist/in-page-4.jpg");
    }

    .description {
      margin-left: $this-custom-margin;
      margin-top: 4%;
      width: 212px;

      .logo-by {
        margin-top: 30px;
        opacity: 0.5;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
