.navigation-hamburger {
  $this-height: $navigation-hamburger-height;
  $this-hamburger-icon-size: 20px;
  $this-hamburger-icon-padding: ($this-height - $this-hamburger-icon-size) / 2;

  $this-translate-travel: 30px;

  height: $this-height;
  // As the hamburger icon is a square!
  min-width: $this-height;

  .menu-container {
    display: inline-block;
    height: 100%;
    position: relative;
  }

  // The hamburger icon
  .icon-three-horizontal-bars {
    color: #7f7f7f;
    cursor: pointer;
    font-size: 11px;
    // -1 is needed to center the icon
    line-height: $this-hamburger-icon-size;
    padding: $this-hamburger-icon-padding;
    position: absolute;
    top: 0;

    &:before {
      vertical-align: middle;
    }
  }

  .links {
    display: inline-block;
    // This is needed to stay on top of the hambuger icon (.icon-three-horizontal-bars)
    // Otherwise the icon may get in the way!
    position: relative;
  }

  .link {
    background-color: rgba(#ffffff, 0.01);
    padding-right: 12px;

    display: inline-block;
    font-size: 14px;
    line-height: $this-height;
    opacity: 1;
    @include transform(translate(0,0));

    &:last-child {
      padding-right: 0;
    }

    a {
      color: #b1b4b9;
      cursor: pointer;
      padding: 22px 10px;
      position: relative;
      @include transition(color $rapid-transition-timing);

      &:hover {
        color: #7e868f
      }

      &.active {
        color: #7e868f
      }
    }
  }

  &.center .link a.active:before {
    content: "";

    background: #dce1e3;
    height: 1px;

    position: absolute;
    bottom: 17px;
    left: 10px;
    right: 10px;
  }

  // Different style options
  &.left {
    .icon-three-horizontal-bars {
      // todo fix this
      // This may cause the following bug:
      // As the element is pulled to the left, if it's right on the left edge of the screen,
      // then it may cause an unnecessary scroll bar.
      // left: - $this-hamburger-icon-padding;
      left: 0;
    }
  }

  &.right {
    .icon-three-horizontal-bars {
      // todo fix this
      // This may cause the following bug:
      // As the element is pulled to the right, if it's right on the right edge of the screen,
      // then it may cause an unnecessary scroll bar.
      // right: - $this-hamburger-icon-padding;
      right: -20px;
    }

    .links .link:first-child {
      padding-left: 40px;
    }

    .hire-us {
      @extend .button;

      $this-color: #4c8fe9;

      border-color: $this-color;
      @include border-radius(0);
      color: $this-color;
      font-size: 0;
      margin: 0 0 -10px 5px;
      padding: 9px 0;
      text-transform: uppercase;
      width: 105px;

      &:hover {
        background: $this-color;
      }

      @extend %has-an-icon;
      &:before {
        content: $icon--text-hire-us;
        font-size: 10px;
      }
    }
  }

  &.center {
    .icon-three-horizontal-bars {
      left: 50%;
      margin-left: - $this-height / 2;
    }
  }

  // The "hover" animation
  .menu-container {
    $this-max-transition-duration: 0.3s;
    $this-min-transition-duration: 0.2s;
    // todo change this when adding/removing links
    $this-links-count: 5;

    // This is added so simple-hoverable knows the transition value
    @include transition-duration($this-max-transition-duration);

    .icon-three-horizontal-bars,
    .link {
      @include transition-property(opacity, transform);
      @include transition-timing-function(ease-in-out);
    }

    .icon-three-horizontal-bars {
      @include transition-duration($this-max-transition-duration);
    }

    .link {
      @include transition-duration($this-min-transition-duration);

      @for $i from 1 through $this-links-count {
        &:nth-child(#{$i}) {
          @include transition-delay(($this-max-transition-duration - $this-min-transition-duration) / ($this-links-count - 1) * ($this-links-count - $i));
        }
      }
    }
  }

  // todo add more animations depending on the style option (left, center, right);

  // The default animation!
  .menu-container.mouse-leaving,
  .menu-container.mouse-left {
    .link {
      opacity: 0;
      @include transform(translate(0, $this-translate-travel));
    }
  }

  .menu-container.mouse-entered {
    .icon-three-horizontal-bars {
      cursor: default;
      opacity: 0;
      @include transform(translate($this-translate-travel, 0));
    }
  }

  .menu-container.mouse-left {
    .links {
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &.center {
    .menu-container.mouse-entered {
      .icon-three-horizontal-bars {
        @include transform(translate(0, 0 - 1.5 * $this-translate-travel));
      }
    }
  }
}
