/////////////
// Imports //
/////////////

@import "compass";
@import "compass/reset";
@import "compass/css3";

///////////
// Fonts //
///////////

$small-line-height: 1.25em;
$normal-line-height: 1.4em;
$normal-font-size: 14px;
$medium-font-size: 15px;

$font-fallback: "Lucida Grande", "Arial", sans-serif;

// Helvetica
$HelveticaNeue-Roman: "HelveticaNeueLTStd-Roman", $font-fallback;
$HelveticaNeue-Bold: "HelveticaNeueLTStd-Bd", $font-fallback;

// Museo
$MuseoSans-300: "MuseoSans-300", $font-fallback;
$MuseoSans-500: "MuseoSans-500", $font-fallback;
$MuseoSans-700: "MuseoSans-700", $font-fallback;

// Bender
// NOTE this can be removed and replaced with a svg
$Bender-Bold: "benderbold", $font-fallback;

// PierSans
$PierSans-Regular: "pier_sansregular", $font-fallback;

// Rosario
// NOTE this can be removed and replaced with a svg
$Rosario-Regular: "rosarioregular", $font-fallback;
$Rosario-Bold: "rosariobold", $font-fallback;

// SourceSansPro
$SourceSansPro: "Source Sans Pro", $font-fallback;

// FF DIn
$FF-DIn-Condensed-Bold: "ff_din_condensed_bold-webfont", $font-fallback;

////////////////
// Transition //
////////////////

$x-rapid-transition-timing: 0.05s ease-in-out;
$rapid-transition-timing: 0.1s ease-in-out;
$medium-transition-timing: 0.2s ease-in-out;
$slow-transition-timing: 0.3s ease-in-out;

/////////////////////
// View Animations //
/////////////////////

$top-view-animation-duration: 0.25s;
$sub-page-animation-duration: 0.35s;
$safe-animation-delay: 0.005s;

$sub-page-nav-hamburger-travel: 125px;
$sub-page-content-vertical-travel: 150px;
$sub-page-content-horizontal-travel: 625px;

////////////
// Colors //
////////////

$bright-blue: #62caee;
$dark-blue: #202a35;

///////////
// Forms //
///////////

$input-focused-color: $dark-blue;
$input-unfocused-color: #c2c6cc;

$input-font-family: $HelveticaNeue-Roman;
$input-font-size: $medium-font-size;
$inputs-line-height-as-px: 18px;

$input-horizontal-padding: 25px;

////////////////////////////
// Responsive breakpoints //
////////////////////////////

$tablet-breakpoint: 1024px;

/////////////
// Generic //
/////////////

$min-page-height: 500px;
$min-page-width: 1024px;

$container-width: 1000px;
$small-container-width: 900px;

$navigation-hamburger-height: 60px;

$normal-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.07);
$fancy-slider-description-height: 125px;

///////////////
// Z-Indexes //
///////////////

$header-index-z-index: 3250;

$sub-page-template-z-index: 3500;

$http-error-z-index: 3750;

$preloader-z-index: 10000;

///////////////
// Page like //
///////////////

%page-like {
  position: relative;
  z-index: 3;
}

%page-like-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -2;

  background: #ffffff;
  opacity: 0.7;

  @include box-shadow($normal-box-shadow);
  @include transform(rotateZ(-4deg));
}
