input, textarea {
  @include appearance(none);
  @include reset-box-model;
  @include reset-focus;

  background: transparent;
  border-bottom: 1px solid #e5e8eb;
  color: $input-focused-color;
  display: block;

  // Needed as textarea has its own font style
  font-family: $input-font-family;
  font-size: $input-font-size;
  line-height: $inputs-line-height-as-px;

  padding: 12px 0;
  width: 100%;

  &.ng-invalid {
    .ng-submitted & {
      border-color: #f43864;
    }
  }

  @include input-placeholder {
    color: $input-unfocused-color;
  }

  &:focus {
    border-color: #60656b;

    // Hide the placeholder on focus
    @include input-placeholder {
      opacity: 0;
    }
  }
}

textarea {
  resize: none;
}
