@font-face {
  font-family: "hyperion-icons";
  src: url("../assets/icons/as-fonts/hyperion-icons.eot");
  src: url("../assets/icons/as-fonts/hyperion-icons.eot#iefix") format("embedded-opentype"), url("../assets/icons/as-fonts/hyperion-icons.ttf") format("truetype"), url("../assets/icons/as-fonts/hyperion-icons.woff") format("woff"), url("../assets/icons/as-fonts/hyperion-icons.svg#hyperion-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
%has-an-icon {
  font-family: "hyperion-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$icon--text-hire-us: "\e90a";

[class^="icon-"],
[class*=" icon-"] {
  @extend %has-an-icon;
}

.icon-text-hire-us:before {
    content: $icon--text-hire-us;
}
.icon-linkedin:before {
    content: "\e907";
}
.icon-stackoverflow:before {
    content: "\e908";
}
.icon-git:before {
    content: "\e909";
}
.icon-arrow-right-squarish:before {
    content: "\e906";
}
.icon-arrow-down-fancy:before {
    content: "\e905";
}
.icon-error:before {
    content: "\e904";
}
.icon-speech-bubbles:before {
    content: "\e903";
}
.icon-three-dots:before {
  content: "\e902";
}
.icon-ok-sign:before {
  content: "\e900";
}
.icon-checkered:before {
  content: "\e901";
}
.icon-arrow-right-thin:before {
  content: "\e61c";
}
.icon-arrow-left-thin:before {
  content: "\e61d";
}
.icon-fancy-phone-outline:before {
  content: "\e61b";
}
.icon-hyperion-logo:before {
  content: "\e61a";
}
.icon-broken-link:before {
  content: "\e619";
}
.icon-valid-document:before {
  content: "\e618";
}
.icon-arrow-left:before {
  content: "\e600";
}
.icon-arrow-left-fancy:before {
  content: "\e601";
}
.icon-arrow-right:before {
  content: "\e602";
}
.icon-arrow-right-pointy:before {
  content: "\e603";
}
.icon-behance:before {
  content: "\e604";
}
.icon-choice:before {
  content: "\e605";
}
.icon-close:before {
  content: "\e606";
}
.icon-development:before {
  content: "\e607";
}
.icon-dribbble:before {
  content: "\e608";
}
.icon-facebook:before {
  content: "\e609";
}
.icon-files-cabinet:before {
  content: "\e60a";
}
.icon-finger-print:before {
  content: "\e60b";
}
.icon-lamp:before {
  content: "\e60c";
}
.icon-layers:before {
  content: "\e60d";
}
.icon-mail:before {
  content: "\e60e";
}
.icon-message-bubble:before {
  content: "\e60f";
}
.icon-paper-plane:before {
  content: "\e610";
}
.icon-pen-and-ruler:before {
  content: "\e611";
}
.icon-phone:before {
  content: "\e612";
}
.icon-phone-outline:before {
  content: "\e613";
}
.icon-route:before {
  content: "\e614";
}
.icon-three-horizontal-bars:before {
  content: "\e615";
}
.icon-twitter:before {
  content: "\e616";
}
.icon-ui-ux:before {
  content: "\e617";
}
