html {
  // We don't need a scrollbar as we know the min page width
  overflow-x: hidden;

  // This is the time to add the scrollbar!
  @media only screen and (max-width: $min-page-width) {
    overflow-x: auto;
  }
}

// They are wrapped inside the body tag to have a higher priority.
// Otherwise these rules won't apply.
body {
  @media only screen and (max-width : 1920px) {
    .container,
    .fancy-slider .slide-description-container {
      width: $small-container-width;
    }

    .fancy-slider .slide-description-container {
      margin-left: - $small-container-width / 2;
    }
  }
}
