// Top level ui-view
[ui-view="page-content"] {
  $this-transition-duration: 0.25s;

  @include transition-duration($this-transition-duration + 0.05);

  &.ng-enter.ng-enter-active, 
  &.ng-leave.ng-leave-active {
    .header-index, 
    .sub-page-template > .navigation-hamburger,
    .sub-page-template > .top-level-animation-container {
      @include transition(transform $this-transition-duration ease-in-out, opacity $this-transition-duration ease-in-out);
    }
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    // They all fade out
    .header-index,
    .sub-page-template > .navigation-hamburger,
    .sub-page-template > .top-level-animation-container {
      opacity: 0;
    }

    // It appears from the top of the page
    .sub-page-template > .navigation-hamburger {
      @include transform(translate3d(0,-125px,0));
    }

    // It appears from the bottom of the page
    .sub-page-template > .top-level-animation-container {
      @include transform(translate3d(0,250px,0));
    }
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    // Everything goes back to normal!
    .header-index,
    .sub-page-template > .navigation-hamburger,
    .sub-page-template > .top-level-animation-container {
      opacity: 1;
      @include transform(translate3d(0,0,0));
    }
  }
}

// The sub page ui-view
[ui-view="sub-page-content"] {
  $this-transition-duration: 0.25s;
  $this-travel: 625px;
  
  @include transition-duration($this-transition-duration + 0.05);

  &.ng-enter.ng-enter-active, 
  &.ng-leave.ng-leave-active {
    & > .center-me-container {
      @include transition(transform $this-transition-duration ease-in-out, opacity $this-transition-duration ease-in-out);
    }
  }

  &.ng-enter > .center-me-container {
    opacity: 0;
    @include transform(translate3d(- $this-travel,0,0));

    .right & {
      @include transform(translate3d($this-travel,0,0));
    }
  }

  &.ng-enter.ng-enter-active > .center-me-container {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }

  &.ng-leave > .center-me-container {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }

  &.ng-leave.ng-leave-active > .center-me-container {
    opacity: 0;
    @include transform(translate3d($this-travel,0,0));

    .right & {
      @include transform(translate3d(- $this-travel,0,0));
    }
  }
}

