/////////////
// Imports //
/////////////

@import "base";

@import "buttons";
@import "cursors";
@import "forms";
@import "icons";
@import "responsive";
@import "webfonts";

@import "common/carousel-slider/carousel-slider";

@import "app/center-me/center-me";
@import "app/contact-form/contact-form";
@import "app/fancy-slider/fancy-slider";
@import "app/navigation-hamburger/navigation-hamburger";
@import "app/on-horizontal-scroll/on-horizontal-scroll";
@import "app/portfolio-header/portfolio-header";
@import "app/simple-footer/simple-footer";
@import "app/simple-header/simple-header";
@import "app/view-animations/view-animations";

@import "state-components/contact/contact";
@import "state-components/expertise/expertise";
@import "state-components/index/index";
@import "state-components/our-processes/our-processes";
@import "state-components/portfolio/portfolio";
@import "state-components/preloader/preloader";
@import "state-components/sub-page-template/sub-page-template";

// bower:scss
// endbower

//////////////
// Generics //
//////////////

html {
  // We want the vertical scrollbar to always be present on the screen.
  // Otherwise the content may bounce when the scrollbar appears.
  overflow-y: scroll;
}


body {
  font-family: $HelveticaNeue-Roman;
  font-size: $normal-font-size;
  -moz-font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: $normal-line-height;
}

strong {
  font-family: $HelveticaNeue-Bold;
}

///////////////////////////
// Border box everything //
///////////////////////////

*, *:after, *:before {
  @include box-sizing(border-box);
}

////////////////
// Containers //
////////////////

html {
  // These 2 are required by the sticky footer trick
  // and the fancy slider.
  min-height: 100%;
  position: relative;

  min-width: $min-page-width;
}

body {
  min-height: 500px;
}

.container {
  display: block;
  margin: 0 auto;
  width: $container-width;
}
