/////////////
// Imports //
/////////////

@import "base";

@import "buttons";
@import "generics";
@import "icons";
@import "webfonts";

@import "common/royal-slider/royal-slider";
@import "common/royal-slider/full-width/full-width";

@import "app/portfolio-header/portfolio-header";
@import "app/simple-footer/simple-footer";

////////////////////////
// Responsive Helpers //
////////////////////////

// todo remember that these are in direct dependency with a function defined in
// state-components-mobile/index/index.controller.js
$small-screens-breakpoint: 320px;
$medium-screens-breakpoint: 768px;

@mixin small-screens {
  @media only screen and (max-width : $small-screens-breakpoint) {
    @content;
  }
}

@mixin medium-screens {
  @media only screen and (min-width : $small-screens-breakpoint + 1px) and (max-width : $medium-screens-breakpoint - 1px) {
    @content;
  }
}

@mixin large-screens {
  @media only screen and (min-width : $medium-screens-breakpoint) {
    @content;
  }
}

.large-only {
  @include small-screens { display: none !important; }
  @include medium-screens { display: none !important; }
}

.medium-only {
  @include small-screens { display: none !important; }
  @include large-screens { display: none !important; }
}

.small-only {
  @include medium-screens { display: none !important; }
  @include large-screens { display: none !important; }
}

.small-and-medium-only {
  @include large-screens { display: none !important; }
}

////////////////////
// States Imports //
////////////////////

@import "state-components-mobile/index/index";
@import "state-components-mobile/portfolio/portfolio";

////////////////
// Containers //
////////////////

// todo remember that this is in direct dependency with a function defined in
// state-components-mobile/index/index.controller.js
.container {
  display: block;
  margin: 0 auto;

  @include small-screens {
    max-width: 280px;
    width: 87.5%;
  }

  @include medium-screens {
    max-width: 350px;
    width: 85%;
  }

  @include large-screens {
    max-width: 520px;
    width: 67.5%;
  }
}

//////////////////
// Text related //
//////////////////

$mobile-only-font-size: 14px;

body, p {
  font-size: $mobile-only-font-size;
}

.title {
  color: #79d0ea;
  font-family: $MuseoSans-300;
  font-size: 25px;
  margin-bottom: 12px;
}

p {
  color: #b5babd;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
