/////////////
// Imports //
/////////////

@import "base";

@import "forms";
@import "icons";
@import "responsive";
@import "webfonts";

@import "app/fancy-slider/fancy-slider";
@import "app/navigation-hamburger/navigation-hamburger";
@import "app/simple-footer/simple-footer";
@import "app/simple-header/simple-header";

@import "state-components/contact/contact";
@import "state-components/expertise/expertise";
@import "state-components/index/index";
@import "state-components/our-processes/our-processes";
@import "state-components/preloader/preloader";
@import "state-components/sub-page-template/sub-page-template";

// bower:scss
// endbower

//////////////
// Generics //
//////////////

body {
  font-family: $HelveticaNeue-Roman;
  font-size: $normal-font-size;
  -moz-font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: $normal-line-height;
}

strong {
  font-family: $HelveticaNeue-Bold;
}

///////////////////////////
// Border box everything //
///////////////////////////

*, *:after, *:before {
  @include box-sizing(border-box);
}

////////////////
// Containers //
////////////////

html {
  // These 2 are required by the sticky footer trick
  // and the fancy slider.
  min-height: 100%;
  position: relative;

  min-width: 1024px;
}

body {
  min-height: 500px;
}

.container {
  display: block;
  margin: 0 auto;
  width: $container-width;
}
