<hyp-center-me>
  <section id="company-mood-portfolio-page" class="portfolio-page">
    <div class="container custom-cursor normal">
      <hyp-portfolio-header
        description="{{:: str.portfolio.companyMood.header }}"
        client-logo-url="assets/images/portfolio/company-mood/logo.png"
        client-name="{{:: str.portfolio.companyMood.projectName}}"
      ></hyp-portfolio-header>

      <div class="portfolio-content">
        <hyp-carousel-slider
          arrows-background-color="#ffffff"
          arrows-color="#596b84"
          images-url="['assets/images/portfolio/company-mood/slide-1.jpg', 'assets/images/portfolio/company-mood/slide-2.jpg', 'assets/images/portfolio/company-mood/slide-3.jpg', 'assets/images/portfolio/company-mood/slide-4.jpg']"
        ></hyp-carousel-slider>

        <div class="row company-mood-container">
          <ul class="navigation-tabs" ng-init="vm.activeTab = 'how-it-works'">
            <li ng-class="{active: vm.activeTab === 'how-it-works'}" ng-click="vm.activeTab = 'how-it-works'">How the site works</li>
            <li ng-class="{active: vm.activeTab === 'the-process'}" ng-click="vm.activeTab = 'the-process'">The Process</li>
            <li class="visit-website"><a href="https://www.company-mood.com/" target="_blank" rel="nofollow">Visit Site</a></li>
          </ul>
        </div>

        <div class="company-mood-container" ng-show="vm.activeTab === 'how-it-works'">
          <div class="first row">
            <div class="big-text left">
              <div class="big-text-container introduction">
                <h2 class="title title--fancy">Introduction</h2>
                <p>We wanted to keep the first section simple and use it to greet the user, explain what the product is / why they should care, and give them a chance to either navigate the rest of the website or start learning how the product works.</p>
              </div>
              <div class="big-text-container how-it-works">
                <h2 class="title title--fancy">How it works</h2>
                <p>The next section is a two step slider that explains exactly how the product works. That simple.</p>
              </div>
              <div class="big-text-container advantages">
                <h2 class="title title--fancy">Advantages</h2>
                <p>This section explains the benefits Company Mood could bring to a user’s company.</p>
              </div>
              <div class="big-text-container testimonials">
                <h2 class="title title--fancy">Testimonials</h2>
              </div>
              <div class="big-text-container footer">
                <h2 class="title title--fancy">Footer</h2>
              </div>
            </div>
            <div class="big-image right">
              <img src="assets/images/portfolio/company-mood/home.jpg" alt="The homepage of {{:: str.portfolio.companyMood.projectName}}">
            </div>
          </div>

          <div class="second row">
            <h1 class="title">Each page has a clear purpose</h1>
            <p>While the home page serves to introduce visitors to the product and convince them it is worthy of their time, we also created more detailed pages that explain Company Mood’s pricing model, their features or the company’s history, and we think this structure will give Company Mood’s visitors all the information they need to understand their product and sign up.</p>
            <img src="assets/images/portfolio/company-mood/pages.jpg" alt="Each page has a job illustration">
          </div>
        </div>

        <div class="company-mood-container" ng-show="vm.activeTab === 'the-process'">
          <div class="third row">
            <div class="left">
              <img src="assets/images/portfolio/company-mood/questions.jpg" alt="Questions">
            </div>
            <div class="right">
              <h3 class="title">Understanding the Client</h3>
              <p>We started this redesign project, by getting to know the client and understand their business, their market, their product and of course their user base.</p>
              <h3 class="title">Project Goals</h3>
              <p>The goal of the project was to create a website with a professional and trustworthy look that is structured to better explain how Company Mood’s product works, how much it costs and what advantages it can offer to users. The website had to cater to a technical audience of entrepreneurs and managers of medium sized firms, it had to be responsive and support multiple languages.</p>
            </div>
          </div>
          <div class="fourth row">
            <h3 class="title">Defining the Structure</h3>
            <p>Once we had a clear picture of Company Mood’s message, we started exploring ways in which this information could be communicated to users and eventually defined the site’s structure.</p>
            <img src="assets/images/portfolio/company-mood/wireframes.jpg" alt="Wireframes">
          </div>
          <div class="fifth row">
            <h3 class="title">Getting the Visuals Right</h3>
            <p>With a structure in place, we moved on to the visual stage where we defined not only what each page should look like, but also what the identity of the site should reflect, what it should say to the people visiting it. Below are some of the images we looked at for the intro section.</p>
            <img src="assets/images/portfolio/company-mood/images.jpg" alt="Wireframes">
          </div>
          <div class="sixth row">
            <h3 class="title">IV. Developing the site</h3>
            <p>Since this is a static website, development started after the design was done. We made sure the site works well in all browsers and across all devices.</p>
            <img src="assets/images/portfolio/company-mood/features.jpg" alt="Features">
          </div>
        </div>
      </div>

      <a ui-sref="root.sub-page-template.portfolio.webfaction" class="project-navigation">Next Project: <strong><span>{{:: str.portfolio.webfaction.projectName}}<span class="icon-arrow-right-pointy"></span></span></strong></a>

      <hyp-simple-footer></hyp-simple-footer>
    </div>
  </section>
</hyp-center-me>
