#contact-page {
  $this-horizontal-padding: 40px;

  & > .container {
    width: 550px;
  }

  .contact-container {
    background: #ffffff;
    @include box-shadow($normal-box-shadow);
    padding-top: 54px;
    position: relative;

    .call-us-or-complete-form {
      font-size: $medium-font-size;
      line-height: $normal-line-height;
      padding: 0 $this-horizontal-padding;

      .call-us {
        color: #697078;

        .cell-phone-number {
          color: #4c8fe9;
          font-family: $HelveticaNeue-Bold;
        }
      }
    }

    form {
      padding: 45px $this-horizontal-padding 5px $this-horizontal-padding;
    }
  }
}
