#contact-page {
  $this-horizontal-padding: 40px;

  & > .container {
    width: 550px;
  }

  .contact-container {
    background: #ffffff;
    @include box-shadow($normal-box-shadow);
    padding-top: 54px;
    position: relative;

    .call-us-or-complete-form {
      font-size: 15px;
      line-height: $normal-line-height;
      padding: 0 $this-horizontal-padding;

      .call-us {
        color: #9fa1a5;

        .cell-phone-number {
          color: #64686e;
          font-family: $PierSans-Regular;
        }
      }

      .or-complete-form {
        color: #c9ced5;
      }
    }

    form {
      padding: 30px $this-horizontal-padding 5px $this-horizontal-padding;
    }
  }
}
