$fancy-slider-base-image-url: "./app/fancy-slider/resources/";

@mixin image-size($image-url, $multiplier : 1) {
  height: image-height($image-url) * $multiplier;
  width: image-width($image-url) * $multiplier;
}

@mixin blurred-image-position($blurred-image-url, $image-url, $multiplier : 1) {
  left: - ( image-width($blurred-image-url) - image-width($image-url) ) / 2 * $multiplier;
  top: - ( image-height($blurred-image-url) - image-height($image-url) ) / 2 * $multiplier;
}

@mixin load-slide-resources($slide, $resources) {
  @each $resource in $resources {
    $this-image-url: $fancy-slider-base-image-url + $slide + $resource + ".png";
    $this-blurred-image-url: $fancy-slider-base-image-url + $slide + $resource + "-blurred.png";

    .#{$resource} {
      @include image-size($this-image-url);

      .blurred {
        @include blurred-image-position($this-blurred-image-url, $this-image-url);
        @include image-size($this-blurred-image-url);
      }
    }
  }
}

.fancy-slider {
  .resource {
    position: absolute;

    .unblurred {
      height: 100%;
      width: 100%;
    }

    .blurred {
      position: absolute;
    }
  }
}
