$fancy-slider-base-image-url: "./app/fancy-slider/resources/";

@mixin image-size($image-url, $multiplier : 1) {
  height: image-height($image-url) * $multiplier;
  width: image-width($image-url) * $multiplier;
}

@mixin blurred-image-position($blurred-image-url, $image-url, $multiplier : 1) {
  left: - ( image-width($blurred-image-url) - image-width($image-url) ) / 2 * $multiplier;
  top: - ( image-height($blurred-image-url) - image-height($image-url) ) / 2 * $multiplier;
}

@mixin load-slide-resources($slide, $resources) {
  @each $resource in $resources {
    $this-image-url: $fancy-slider-base-image-url + $slide + $resource + ".png";
    $this-blurred-image-url: $fancy-slider-base-image-url + $slide + $resource + "-blurred.png";

    .#{$resource} {
      @include image-size($this-image-url);

      .blurred {
        @include blurred-image-position($this-blurred-image-url, $this-image-url);
        @include image-size($this-blurred-image-url);
      }
    }
  }
}

.fancy-slider {
  .resource {
    position: absolute;

    .unblurred {
      height: 100%;
      width: 100%;
    }

    .blurred {
      position: absolute;
    }
  }
}

////////////////////
// Blur Animation //
////////////////////

@include keyframes(blur-resource-blur-out) {
  0% {
    z-index: 1;
    opacity: 1;
  }

  // This step is needed otherwise there will be a gap where the element
  // will look like it's disappearing.
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@include keyframes(blur-resource-blur-in) {
  0% {
    opacity: 0;
    z-index: 2;
  }

  100% {
    opacity: 1;
  }
}

.fancy-slider .resource .blurable-resource {
  @include animation-duration($blur-resources-animation-duration);
}

.fancy-slider .resource .blurable-resource.ng-hide-add.ng-hide-add-active {
  @include animation-name(blur-resource-blur-out);
}

.fancy-slider .resource .blurable-resource.ng-hide-remove.ng-hide-remove-active {
  @include animation-name(blur-resource-blur-in);
}
