.sub-page-template {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  z-index: $sub-page-template-z-index;

  .hamburger-navigation.center {
    position: relative;
    text-align: center;
  }

  .sub-page-content-container {
    bottom: $navigation-hamburger-height;
    left: 0;
    position: absolute;
    right: 0;
    top: $navigation-hamburger-height;

    & > table {
      height: 100%;
      width: 100%;

      td.sub-page-content {
        vertical-align: middle;
      }
    }
  }
}
