.sub-page-template {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  z-index: $sub-page-template-z-index;

  .navigation-hamburger.center {
    position: relative;
    text-align: center;
  }

  .sub-page-content-container {
    bottom: $navigation-hamburger-height;
    left: 0;
    position: absolute;
    right: 0;
    top: $navigation-hamburger-height;

    & > table {
      height: 100%;
      width: 100%;

      td.sub-page-content {
        vertical-align: middle;
      }
    }
  }
}

////////////////
// Animations //
////////////////

[ui-view="page-content"] {
  @include transition-duration(0.3s);

  &.ng-enter.ng-enter-active, &.ng-leave.ng-leave-active {
    .header-index, 
    .sub-page-template > .navigation-hamburger,
    .sub-page-template > .sub-page-content-container {
      @include transition(transform 0.25s ease-in-out, opacity 0.25s ease-in-out);
    }
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    .header-index {
      @include transform(translate3d(0,-125px,0));
    }

    .sub-page-template > .navigation-hamburger {
      opacity: 0;
      @include transform(translate3d(0,-125px,0));
    }

    .sub-page-template > .sub-page-content-container {
      opacity: 0;
      @include transform(translate3d(0,250px,0));
    }
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    .header-index {
      @include transform(translate3d(0,0,0));
    }

    .sub-page-template > .navigation-hamburger {
      opacity: 1;
      @include transform(translate3d(0,0,0));
    }

    .sub-page-template > .sub-page-content-container {
      opacity: 1;
      @include transform(translate3d(0,0,0));
    }
  }
}
