.sub-page-template {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  z-index: $sub-page-template-z-index;

  .navigation-hamburger.center {
    position: relative;
    text-align: center;
  }

  .top-level-animation-container {
    position: absolute;
    bottom: $navigation-hamburger-height;
    left: 0;
    right: 0;
    top: $navigation-hamburger-height;
  }
}
