#grow-portfolio-page {
  $this-client-color: #b1d541;

  .portfolio-header .logo img {
    height: image-height("assets/images/portfolio/grow/logo.png");
    width: image-width("assets/images/portfolio/grow/logo.png");
  }

  .carousel-slider {
    height: 600px;
    width: 100%;
  }

  .row .title, .row .button {
    color: $this-client-color;
  }

  .row .button {
    border-color: $this-client-color;
    margin-top: 1em;
  }

  .row .button:hover {
    background: $this-client-color;
  }

  .first.row {
    padding-bottom: 50px;
    padding-top: 85px;

    .video-container {
      margin-right: 22px;
      width: image-width("assets/images/portfolio/grow/ipad-and-iphone-frame.png");

      video {
        left: 253px;
        top: 313px;
      }
    }

    .description {
      margin-top: 5%;
      width: 310px;
    }
  }
}