#pleo-portfolio-page {
  $this-client-color: #e6467c;

  .portfolio-header .logo img {
    height: image-height("assets/images/portfolio/pleo/logo.png");
    width: image-width("assets/images/portfolio/pleo/logo.png");
  }

  .carousel-slider {
    height: 700px;
    width: 100%;
  }

  .row .title, .row .button {
    color: $this-client-color;
  }

  .first.row {
    padding-bottom: 50px;
    padding-top: 25px;

    .description {
      margin-top: 10%;
      width: 320px;
    }
  }
}
