// todo format this

//////////////////
// Blur Overlay //
//////////////////

#blur-overlay {
  background: rgba(#ffffff, 0.75);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

///////////////
// Resources //
///////////////

#fancy-slider {
  .resource {
    .blurred {
      display: none;
      position: absolute;
    }
  }
}
