// todo format this

//////////////////////////
// Generic Fancy Slider //
//////////////////////////

#fancy-slider {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  .slides-container {
    @include background-image(radial-gradient(#b6e0eb 0%, #9ad3e4 100%));
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    @include transform-origin(0, 0);
    @include user-select(none);

    [class^="slide-"] {
      height: 100%;
      width: 100%;
    }
  }
}

//////////////////
// Blur Overlay //
//////////////////

#blur-overlay {
  background: rgba(#ffffff, 0.75);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

///////////////
// Resources //
///////////////

#fancy-slider {
  .resource {
    .blurred {
      display: none;
      position: absolute;
    }
  }
}
