<div class="fancy-slider">
  <div hyp-fancy-resizer class="stage-container">
    <div ng-click="changeSlidesToRight();" class="change-slide change-slide--to-right custom-cursor arrow-right"></div>
    <div ng-click="changeSlidesToLeft();" class="change-slide change-slide--to-left custom-cursor arrow-left"></div>

    <div class="actual-stage-container"></div>
    <div class="depth-bars">
      <div class="depth-bar left"></div>
      <div class="depth-bar right"></div>
    </div>
  </div>
  <hyp-fancy-slider-slide-description></hyp-fancy-slider-slide-description>
</div>
