.simple-footer {
  font-size: $medium-font-size;
  padding: 50px 0 25px 0;
  text-align: center;

  &.small {
    margin: 0 auto;
    width: 325px;
  }

  .text, .social-links {
    display: block;
  }

  .text {
    margin-bottom: 15px;

    p {
      color: rgba($dark-blue, 0.7);
      margin-bottom: 3px !important;
      line-height: $small-line-height;
    }

    small {
      color: #878d90;
      font-size: 13px;
    }
  }

  .social-link {
    color: rgba(#3c3c3b, 0.5);
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;

    @include transition(color $rapid-transition-timing);

    .icon-twitter {
      font-size: 16px;

      &:hover {
        color: #4fabf1;
      }
    }

    .icon-dribbble {
      font-size: 17px;

      &:hover {
        color: #ea4c89;
      }
    }

    .icon-behance {
      font-size: 13px;

      &:hover {
        color: #055cff;
      }
    }
  }
}
