// Performance hacks
[ui-view="page-content"] .sub-page-template,
.portfolio-page .container {
  @include transform(translate3d(0,0,0));
}

// This breaks the shadow
// .portfolio-page .container {
//   overflow: hidden;
// }

// Top level ui-view
[ui-view="page-content"] {
  @include transition-duration($top-view-animation-duration + $safe-animation-delay);

  &.ng-enter.ng-enter-active,
  &.ng-leave.ng-leave-active {
    .header-index {
      @include transition(opacity ($top-view-animation-duration * 0.7) ease-in-out);
    }

    .sub-page-template .navigation-hamburger,
    .sub-page-template .top-level-animation-container,
    .page-like:before {
      @include transition(transform $top-view-animation-duration ease-in-out, opacity $top-view-animation-duration ease-in-out);
    }
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    // They all fade out
    .header-index,
    .page-like:before,
    .sub-page-template .navigation-hamburger,
    .sub-page-template .top-level-animation-container {
      opacity: 0;
    }

    .page-like:before {
      @include transform(rotateZ(0deg));
    }

    // It appears from the top of the page
    .sub-page-template .navigation-hamburger {
      @include transform(translate3d(0,-$sub-page-nav-hamburger-travel,0));
    }

    // It appears from the bottom of the page
    .sub-page-template .top-level-animation-container {
      @include transform(translate3d(0,$sub-page-content-vertical-travel,0));
    }
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    // Everything goes back to normal!
    .header-index,
    .page-like:before,
    .sub-page-template .navigation-hamburger,
    .sub-page-template .top-level-animation-container {
      opacity: 1;
      @include transform(translate3d(0,0,0));
    }

    .page-like:before {
      @include transform(rotateZ(-4deg));
    }
  }
}

// The sub page ui-view
[ui-view="sub-page-content"] {
  @include transition-duration($sub-page-animation-duration + $safe-animation-delay);

  // The left/right slide animation
  &.ng-enter.ng-enter-active,
  &.ng-leave.ng-leave-active {
    & > .center-me-container {
      @include transition(transform $sub-page-animation-duration ease-in-out, opacity $sub-page-animation-duration ease-in-out);
    }
  }

  &.ng-enter.ng-enter-active > .center-me-container {
    .right & {
      // So the new page, the one which comes from the right, is on top!
      z-index: 10;
    }
  }

  &.ng-enter > .center-me-container {
    opacity: 0;
    @include transform(translate3d(- $sub-page-content-horizontal-travel,0,0));

    .right & {
      @include transform(translate3d($sub-page-content-horizontal-travel,0,0));
    }
  }

  &.ng-enter.ng-enter-active > .center-me-container {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }

  &.ng-leave > .center-me-container {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }

  &.ng-leave.ng-leave-active > .center-me-container {
    opacity: 0;
    @include transform(translate3d($sub-page-content-horizontal-travel,0,0));

    .right & {
      @include transform(translate3d(- $sub-page-content-horizontal-travel,0,0));
    }
  }
}

// Components
// Navigation Hamburger custom animation on portfolio project
.sub-page-template .navigation-hamburger {
  // When we don't want to trigger the animation
  body.hide-sub-page-navigation-hamburger & {
    display: none;
  }

  &.fade-up-add.fade-up-add-active,
  &.fade-up-remove.fade-up-remove-active {
    @include transition(transform $sub-page-animation-duration ease-in-out, opacity $sub-page-animation-duration ease-in-out);
  }

  &.fade-up-add,
  &.fade-up-remove.fade-up-remove-active {
    opacity: 1 !important;
    @include transform(translate3d(0, 0, 0) !important);
  }

  &.fade-up,
  &.fade-up-add.fade-up-add-active,
  &.fade-up-remove {
    opacity: 0 !important;
    @include transform(translate3d(0, -$sub-page-nav-hamburger-travel, 0) !important);
  }
}
