//@import "anyvan/anyvan";
@import "company-mood/company-mood";
//@import "grow/grow";
@import "kartist/kartist";
@import "pleo/pleo";
@import "quizkick/quizkick";
@import "webfaction/webfaction";

///////////////////
// Mobile Header //
///////////////////
#mobile-portfolio-header {
  table {
    height: 80px;
    width: 100%;

    .our-logo, .client-logo { vertical-align: middle; }
    .our-logo { width: 67.5%; }
    .client-logo { border-left: 1px solid #eeeeee; text-align: center; width: 32.5%; }
  }

  .our-logo {
    color: #adb0b3;
    font-family: $Rosario-Regular;
    font-size: 15px;
    padding-left: 3%;

    a, a > span, div {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      vertical-align: middle;
    }

    a {
      padding: 0 12px 0 17px;
      opacity: 0.85;

      span {
        font-size: 17px;
        vertical-align: top;
      }

      img {
        height: 100%;
        margin-left: 6px;
        padding: 5px 0;
        width: auto;
      }
    }

    div {
      border-left: 1px solid #e1e1e3;
      padding-left: 13px;
    }

    strong {
      font-family: $Rosario-Bold;
    }
  }

  .client-logo {
    img {
      height: auto;
      width: 52.5%;
    }
  }
}

///////////////////
// Sticky Footer //
///////////////////
// TODO remove this on large screens
html {
  min-height: 100%;
  position: relative;
}

#portfolio-navigator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.portfolio-page {
  @include small-screens { padding-bottom: 80px; }
  @include medium-screens { padding-bottom: 80px; }
  @include large-screens { padding-bottom: 98px; }
}

////////////////////
// Portfolio Tabs //
////////////////////
ul.navigation-tabs {
  border-bottom: 1px solid #ebeced;
  @include legacy-pie-clearfix;
  width: 100%;

  & > li {
    color: #697078;
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 50px;
    margin-right: 30px;
    opacity: 0.5;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      cursor: auto;
      // TODO should we enable this?
      // font-family: $HelveticaNeue-Bold;
      opacity: 1;
    }

    &.visit-website {
      float: right;
      margin-right: 0;
    }
  }
}

///////////////////////
// Footer Navigation //
///////////////////////
#portfolio-navigator {
  $this-border: 1px solid #eeeff1;

  /////////////////////
  // Default options //
  /////////////////////
  & {
    border-top: $this-border;
    color: #9da2a5;
    @include legacy-pie-clearfix;
    font-style: italic;

    & > a {
      display: block;
      float: left;
      @include legacy-pie-clearfix;
      position: relative;
      width: 50%;
    }

    .prev {
      .arrow { float: left; }
      .text-container { float: right; text-align: right; }
    }

    .next {
      .arrow { float: right; }
      .text-container { float: left; text-align: left; }
    }

    .nav-helper {
      font-family: $PierSans-Regular;
    }
  }

  //////////////////////
  // Specific options //
  //////////////////////
  & {
    // Text ellipsis
    .text-container {
      white-space: nowrap;
      width: 85%;

      .project-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    // Needed otherwise overflow hidden will cut some pixels from the right side
    // of the italic font!
    .prev .text-container .project-name {
      margin-right: -2px;
      padding-right: 2px;
    }

    // Alignment
    a {
      padding-bottom: 25px;
      padding-top: 28px;

      @include large-screens { padding-bottom: 33px; padding-top: 36px; }

      &.prev {
        border-right: $this-border;
        padding-right: 10%;
        padding-left: 8.25%;

        @include small-screens { padding-right: 8.5%; }
        @include large-screens { padding-right: 6%; }
      }

      &.next {
        padding-right: 8.25%;
        padding-left: 10%;

        @include small-screens { padding-left: 8.5%; }
        @include large-screens { padding-left: 6%; }

        .text-container {
          // This compensates for the italic font thus making the prev and next
          // containers to appear aligned
          margin-left: -3px;
        }
      }
    }

    .arrow {
      font-size: 28px;
    }

    .nav-helper {
      font-size: 13px;
      margin-top: -2px;
      margin-bottom: 3px;
    }

    .project-name {
      font-size: 15px;
    }
  }
}

//////////////
// Generics //
//////////////
.portfolio-page .actual-slider-container {
  background-color: #3e4043;
}

.portfolio-page .mobile-description {
  padding: 35px 30px 20px 30px;

  p {
    margin-bottom: 1em;
  }
}

/////////////
// Tablets //
/////////////

#portfolio-navigator {
  @include large-screens {
    background: #ffffff;
    @include box-shadow($normal-box-shadow);
    left: 50%;
    margin-left: -384px;
    right: auto;
    width: 768px;
    z-index: 1000;
  }
}

.portfolio-page .large-only {
  &:before {
    content: "";

    position: fixed;
    bottom: -500px;
    left: -500px;
    right: -500px;
    top: -500px;

    background-color: #eaeff2;
    z-index: 1;
  }

  .container {
    max-width: 768px;
    position: relative;
    width: 768px;
    z-index: 2;
  }

  .portfolio-header {
    // @include box-shadow($normal-box-shadow);
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -384px;
    width: 768px;
    z-index: 1000;

    .back-arrow, .description, .logo {
      background-color: rgba(#ffffff, 0.98);
    }

    .one-pixel-line {
      background-color: rgba(#eeeeef, 0.98);
    }

    .description p {
      font-size: 13px;
      max-width: 440px;
    }

    .logo {
      width: 190px;
    }
  }

  // Copied from the main site... such shame -.-
  .portfolio-content {
    background-color: #ffffff;
    @include box-shadow($normal-box-shadow);
    color: #9da2a5;
    // Separates this from the portfolio header
    overflow: hidden;
    padding-top: 95px; // The portfolio-header's height
  }

  .row {
    @include legacy-pie-clearfix;
    display: block;

    // Layout elements
    .left {
      float: left;
    }

    .right {
      float: right;
    }

    // Items
    .title {
      font-family: $MuseoSans-300;
      font-size: 25px;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1em;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: auto;
    }
  }
}
