@import "anyvan/anyvan";
@import "grow/grow";
@import "kartist/kartist";
@import "quizkick/quizkick";

///////////////////
// Mobile Header //
///////////////////
#mobile-portfolio-header {
  table {
    height: 85px;
    width: 100%;

    .our-logo, .client-logo { vertical-align: middle; }
    .our-logo { width: 67.5%; }
    .client-logo { border-left: 1px solid #eeeeee; text-align: center; width: 32.5%; }
  }

  .our-logo {
    color: #adb0b3;
    font-family: $Rosario-Regular;
    font-size: 15px;
    padding-left: 3%;

    a, a > span, div {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      vertical-align: middle;
    }

    a {
      padding: 0 17px;
      opacity: 0.85;

      span {
        color: #dbdddf;
        font-size: 17px;
        vertical-align: top;
      }

      img {
        height: 100%;
        margin-left: 6px;
        padding: 5px 0;
        width: auto;
      }
    }

    div {
      border-left: 1px solid #d6d7d9;
      padding-left: 13px;
    }

    strong {
      font-family: $Rosario-Bold;
    }
  }

  .client-logo {
    img {
      height: auto;
      width: 52.5%;
    }
  }
}

///////////////////
// Sticky Footer //
///////////////////
html {
  min-height: 100%;
  position: relative;
}

#portfolio-navigator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#kartist-portfolio-page {
  padding-bottom: 80px;
}

///////////////////////
// Footer Navigation //
///////////////////////
#portfolio-navigator {
  $this-border: 1px solid #eeeff1;

  /////////////////////
  // Default options //
  /////////////////////
  & {
    border-top: $this-border;
    color: #9da2a5;
    @include legacy-pie-clearfix;
    font-style: italic;

    & > a {
      display: block;
      float: left;
      @include legacy-pie-clearfix;
      position: relative;
      width: 50%;
    }

    .prev {
      .arrow { float: left; }
      .text-container { float: right; text-align: right; }
    }

    .next {
      .arrow { float: right; }
      .text-container { float: left; text-align: left; }
    }

    .nav-helper {
      font-family: $PierSans-Regular;
    }
  }

  //////////////////////
  // Specific options //
  //////////////////////
  & {
    // Text ellipsis
    .text-container {
      white-space: nowrap;
      width: 85%;

      .project-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    // Alignment
    a {
      padding-bottom: 25px;
      padding-top: 28px;

      @include large-screens { padding-bottom: 33px; padding-top: 36px; }

      &.prev {
        border-right: $this-border;
        padding-right: 10%;
        padding-left: 8.25%;

        @include small-screens { padding-right: 8.5%; }
        @include large-screens { padding-right: 6%; }
      }

      &.next {
        padding-right: 8.25%;
        padding-left: 10%;

        @include small-screens { padding-left: 8.5%; }
        @include large-screens { padding-left: 6%; }

        .text-container {
          // This compensates for the italic font thus making the prev and next
          // containers to appear aligned
          margin-left: -3px;
        }
      }
    }

    .arrow {
      font-size: 28px;
    }

    .nav-helper {
      font-size: 13px;
      margin-top: -2px;
      margin-bottom: 3px;
    }

    .project-name {
      font-size: 15px;
    }
  }
}

//////////////
// Generics //
//////////////
.portfolio-page .mobile-description {
  padding: 30px 30px 20px 30px;

  p {
    margin-bottom: 1em;
  }
}
