<div class="portfolio-container">
  <div id="mobile-portfolio-header" class="small-and-medium-only">
    <table>
      <tr>
        <td class="our-logo">
          <a ui-sref="index">
            <span class="icon-arrow-left-thin"></span>
            <img class="text" src="assets/images/logo.svg" alt="Hyperion Creative Agency Logo">
          </a>
          <div class="text"><span class="medium-only">We are </span><strong>Hyperion</strong></div>
        </td>
        <td class="client-logo">
          <img ng-src="{{ current.imageSrc }}" ng-style="current.imageStyle" alt="{{ current.name }}">
        </td>
      </tr>
    </table>
  </div>

  <div ui-view="portfolio-page"></div>

  <div id="portfolio-navigator">
    <a ng-href="{{getStateUrl(prev.href)}}" class="prev">
      <div class="arrow icon-arrow-left-thin"></div>
      <div class="text-container">
        <div class="nav-helper">
          <span class="small-only">Previous</span>
          <span class="medium-only">Prev. Project</span>
          <span class="large-only">Previous Project</span>
        </div>
        <strong class="project-name">{{ prev.name }}<span ng-if="prev.name === 'Grow'" class="large-only"> with a CFO</span></strong>
      </div>
    </a>
    <a ng-href="{{getStateUrl(next.href)}}" class="next">
      <div class="arrow icon-arrow-right-thin"></div>
      <div class="text-container">
        <div class="nav-helper">
          <span class="small-only">Next</span>
          <span class="medium-only">Next Project</span>
          <span class="large-only">Next Project</span>
        </div>
        <strong class="project-name">{{ next.name }}<span ng-if="next.name === 'Grow'" class="large-only"> with a CFO</span></strong>
      </div>
    </a>
  </div>
</div>
