/* Generic
================================================== */

::selection {color:white;background:#FF7335;}
::-moz-selection {color:white;background:#FF7335;}

html, body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;
	font-size: 0;
	height: 100%;
	line-height: 1;
	position: relative;
	width: 100%;
	background-color: #565964;
}

body.is-safari {
	font-family: "HelveticaNeue-Roman","Helvetica Neue Roman","Helvetica Neue",Helvetica,sans-serif;
}

.container {
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 1142px;
}

html, body,
.container {
	min-height: 800px;
	min-width: 1142px;
}

.slide2, .slide3 {
	background: url("../img/slide-bg.jpg") no-repeat center;
	background-size: cover;
}

#loading {
	background: #7c838c;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100000;
}

#loading small {
	bottom: 25px;
	color: rgba(255,255,255,0.5);
	font-size: 14px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

#loading .texty-text {
	color: rgba(255,255,255,0.5);
	font-size: 15px;
	left: 0;
	position: fixed;
	text-align: center;
	text-transform: uppercase;
	top: 52.5%;
	width: 100%;
}

.pace-done #loading{
	display: none;
}

/* Slider Setup
================================================== */

#quizkick-showcase,
#quizkick-showcase .rsOverflow {
	height: 100% !important;
	width: 100% !important;
}

.rsArrowRight {
	bottom: 7px;
	right: 7px;
}

.rsArrow {
	cursor: pointer;
	display: block;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 150px;
}

.rsArrow:hover {
	opacity: 1;
}

.rsArrow.rsArrowDisabled:hover {
	opacity: 0.25;
}

.rsArrowLeft {
	left: 0;
}

.rsArrowRight {
	right: 0;
}

.rsArrowIcn {
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 76px;
	left: 50%;
	margin: -38px 0 0 -12px;
	position: absolute;
	top: 50%;
	width: 24px;
}

.rsArrowLeft .rsArrowIcn {
	background-image: url("../img/left-arrow.png");
}

.rsArrowRight .rsArrowIcn {
	background-image: url("../img/right-arrow.png");
}

/* Slider Controls
================================================== */

.controls {
	left: 0;
	min-width: 1000px;
	position: absolute;
	text-align: center;
	top: 50px;
	width: 100%;
	z-index: 100;
}

.control {
	color: rgba(255,255,255,0.3);
	cursor: pointer;
	font-size: 14px;
	margin-right: 10px;
	padding-right: 10px;
	position: relative;
	text-transform: uppercase;

	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.control:hover {
	color: rgba(255,255,255,0.5);
}

.control:after {
	border-right: 1px solid rgba(255,255,255,0.3);
	content: "";
	height: 34px;
	margin-top: -17px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
}

.control,
.control:after {
	display: inline-block;
	vertical-align: middle;
}

.control.active {
	color: rgba(255,255,255,0.75);
	cursor: default;
}

.control:last-child {
	margin-right: 0;
	padding-right: 0;
}

.control:last-child:after {
	display: none;
}

/* Slide1
================================================== */

#main-video {
	height: 100%;
	position: relative;
	width: 100%;
}

#main-video video {
	height: 1440px;
	left: 50%;
	margin: -720px 0 0 -1280px;
	position: absolute;
	top: 50%;
	width: 2560px;
}

#replay {
	background: url("../img/reply-button.png") no-repeat center;
	background-size: contain;
	bottom: 30px;
	cursor: pointer;
	display: none;
	height: 40px;
	left: 50%;
	margin-left: -56.5px;
	opacity: 0.5;
	position: absolute;
	width: 113px;
}

#replay:hover {
	opacity: 0.65;
}

/* Slide2
================================================== */

.iphone-video-container {
	margin-top: -341px;
	position: absolute;
	top: 50%;

	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);

	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-ms-transition: -ms-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.iphone-video-container:before {
	background: url("../img/iphone-video-container.png") no-repeat center;
	background-size: contain;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.iphone-video-container.onHover {
	cursor: pointer;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.iphone-video-container video {
	left: 67px;
	position: absolute;
	top: 98px;
	width: 280px;
}

.iphone-video-container svg {
	margin-top: -8px;
	position: relative;

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;

	z-index: 50;
}

.iphone-video-container,
.iphone-video-container svg {
	height: 698px;
	width: 415px;
}

.iphone-video-container:nth-child(1) {
	left: 0;
}

.iphone-video-container:nth-child(2) {
	left: 50%;
	margin-left: -198px;
}

.iphone-video-container:nth-child(3) {
	right: 0;
}

.hover-instruction {
  bottom: 50px;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  left: 0;
  min-width: 1000px;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Slide3
================================================== */

.slide3 .picture-container {
	color: rgba(255,255,255,0.5);
	left: 50%;
	position: absolute;
	top: 160px;
	width: 500px;
	z-index: 10;
}

.slide3 .picture-container:before {
	background: url("../img/slide3-preview.png") no-repeat center;
	background-size: contain;
	content: "";
	height: 816px;
	position: absolute;
	right: 30px;
	top: -125px;
	width: 1326px;
	z-index: -10;
}

.picture-container .title {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.6);
}

.picture-container p,
.picture-container a {
	font-size: 13px;
}

.picture-container p {
	line-height: 1.25;
}

.picture-container a {
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 5px;
	display: inline-block;
	margin-top: 20px;
	padding: 15px 25px;

	-webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.picture-container a:hover {
	background-color: rgba(255,255,255,0.5);
	color: #676d78;
}

/* Responsive
================================================== */

@media screen and (max-width: 1366px) and (max-height: 800px) {
	#main-video video {
		height: 800px;
		margin: -400px 0 0 -711px;
		width: 1422px;
	}

	html, body,
	.container {
		min-height: 575px;
		min-width: 1000px;
	}

	.container {
		width: 1000px;
	}

	.controls {
		top: 40px;
	}

	.iphone-video-container {
		height: 550px;
		margin-top: -275px;
		width: 320px;
	}

	.iphone-video-container video {
		left: 48px;
		top: 75px;
		width: 225px;
	}

	.iphone-video-container:nth-child(2) {
		margin-left: -160px;
	}

	.iphone-video-container svg {
		-webkit-transform: scale(0.815);
		-moz-transform: scale(0.815);
		-ms-transform: scale(0.815);
		-o-transform: scale(0.815);
		transform: scale(0.815);
	}
}

@media screen and (max-width: 1366px) and (max-height: 650px) {
	#main-video video {
		margin-top: -350px;
	}

	.iphone-video-container {
		margin-top: -235px;
	}
}
