.portfolio-page {
  // All portfolio pages are smaller than the rest.
  .container {
    width: $small-container-width;
  }

  // The main container
  .portfolio-content {
    background-color: #ffffff;
    @include box-shadow($normal-box-shadow);
    color: #9da2a5;
    // Separates this from the portfolio header
    margin-top: 1px;
  }

  .row {
    @include legacy-pie-clearfix;
    display: block;

    // Layout elements
    .left {
      float: left;
    }

    .right {
      float: right;
    }

    // Items
    .title {
      font-family: $MuseoSans-300;
      font-size: 25px;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1em;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: auto;
    }

    .video-container {
      position: relative;

      img {
        height: auto;
        position: relative;
        width: 100%;
        z-index: 2;
      }

      video {
        position: absolute;
        z-index: 1;
      }
    }
  }

  $this-top-spacing: 25px;
  .project-navigation {
    color: rgba($dark-blue, 0.7);
    display: block;
    float: right;
    font-size: 14px;
    margin-top: $this-top-spacing;

    .icon-arrow-right-pointy {
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      padding-left: 10px;
      vertical-align: top;
    }
  }

  .simple-footer {
    padding-top: $this-top-spacing;
    text-align: left;

    .social-link:first-child {
      margin-left: 0;
    }
  }

  .carousel-slider {
    background-color: #3e4043;
  }
}

@import "anyvan/anyvan";
@import "grow/grow";
@import "kartist/kartist";
@import "quizkick/quizkick";

#portfolio-home-page {
  $this-margin: 8px;

  @media only screen and (min-width : 1920px) {
    & > .container {
      width: 1100px;
    }
  }

  // todo remember this: don't change the covers size individually!
  // they all work together as a group. there's no css to keep them
  // in place. resizing a cover may break the layout.
  .covers {
    @include legacy-pie-clearfix;

    .column {
      float: left;
      width: 50%;

      &:first-child {
        padding-right: $this-margin / 2;
      }

      &:last-child {
        padding-left: $this-margin / 2;
      }
    }

    .cover {
      display: block;
      margin-bottom: $this-margin;
      opacity: 0.8;
      overflow: hidden;
      position: relative;
      @include transition(opacity 0.25s ease-in-out);

      &:hover {
        opacity: 1;

        .project-summary {
          @include transform(translate3d(0,0,0));
        }
      }

      img {
        // This way it will strech to fit its container
        display: block;
        height: auto;
        width: 100%;
      }

      .project-summary {
        @include background-image(linear-gradient(rgba(#3c464e, 0), rgba(#3c464e, 1)));
        bottom: 0;
        color: #ffffff;
        left: 0;
        padding: 35px;
        position: absolute;
        right: 0;
        @include transform(translate3d(0,100%,0));
        @include transition(transform 0.2s ease-in-out);

        .project-title {
          font-size: 22px;
          margin-bottom: 10px;
        }
      }
    }

    // The ellipsis
    p {
      color: #d8dce0;
      max-height: 2rem;
      overflow: hidden;

      .ellipsis {
        color: #b1b5ba;
      }

      .only-on-small {
        display: none;

        @media only screen and (max-width : 1920px) {
          display: inline;
        }
      }

      .large {
        @media only screen and (max-width : 1920px) {
          display: none;
        }
      }
    }
  }
}
