.portfolio-page {
  // All portfolio pages are smaller than the rest.
  .container {
    width: $small-container-width;
  }

  // The main container
  .portfolio-content {
    background-color: #ffffff;
    @include box-shadow($normal-box-shadow);
    color: #9da2a5;
    // Separates this from the portfolio header
    margin-top: 1px;
  }

  .row {
    @include legacy-pie-clearfix;
    display: block;

    // Layout elements
    .left {
      float: left;
    }

    .right {
      float: right;
    }

    // Items
    .title {
      font-family: $MuseoSans-300;
      font-size: 25px;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1em;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: auto;
    }

    .video-container {
      position: relative;

      img {
        height: auto;
        position: relative;
        width: 100%;
        z-index: 2;
      }

      video {
        position: absolute;
        z-index: 1;
      }
    }

    ul.navigation-tabs {
      border-bottom: 1px solid #ebeced;
      @include legacy-pie-clearfix;
      width: 100%;

      & > li {
        color: #697078;
        cursor: pointer;
        float: left;
        font-size: 16px;
        line-height: 50px;
        margin-right: 30px;
        opacity: 0.5;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          cursor: auto;
          // TODO should we enable this?
          // font-family: $HelveticaNeue-Bold;
          opacity: 1;
        }

        &.visit-website {
          float: right;
          margin-right: 0;
        }
      }
    }
  }

  $this-top-spacing: 25px;
  .project-navigation {
    color: rgba($dark-blue, 0.7);
    display: block;
    float: right;
    font-size: 14px;
    margin-top: $this-top-spacing;

    .icon-arrow-right-pointy {
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      padding-left: 10px;
      vertical-align: top;
    }
  }

  .simple-footer {
    padding-top: $this-top-spacing;
    text-align: left;

    .social-link:first-child {
      margin-left: 0;
    }
  }

  .carousel-slider {
    background-color: #3e4043;
  }
}

@import "anyvan/anyvan";
@import "grow/grow";
@import "kartist/kartist";
@import "quizkick/quizkick";
@import "webfaction/webfaction";

#portfolio-home-page {
  & > .container {
    width: 1100px;
  }

  .row {
    @include legacy-pie-clearfix;

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .project-block {
    $this-description-height: 45px;
    $this-transition: 0.1s ease-in-out;

    background-color: #cbcfd3;
    @include border-radius(5px);
    @include box-shadow($normal-box-shadow);
    float: left;
    margin-right: 10px;
    overflow: hidden;
    padding-bottom: $this-description-height;
    position: relative;

    @include transform(translateZ(0));

    &:hover {
      .project-image {
        @include transform(scale(1.03) translateZ(0));
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--large {
      height: 495px;
      width: 700px;
    }

    &--medium {
      height: 495px;
      width: 390px;
    }

    &--small {
      height: 270px;
      width: 360px;
    }

    .project-image {
      height: auto;
      display: block;
      margin: 0 auto;

      @include transform(scale(1.0) translateZ(0));
      @include transition(transform $this-transition);

      // All these values are hardcoded
      & {
        &--webfaction {
          margin: 32px 0 0 0;
          width: 585px;
        }

        &--quizkick {
          margin-top: 82px;
          width: 332px;
        }

        &--anyvan {
          margin-top: 12px;
          width: 222px;
        }

        &--kartist {
          margin: 0;
          width: 345px;
        }

        &--grow {
          margin-top: 20px;
          width: 301px;
        }
      }
    }

    .project-description {
      @include legacy-pie-clearfix;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      background: #ffffff;
      display: block;
      font-family: $SourceSansPro-Regular;
      font-size: 14px;
      line-height: $this-description-height;
      padding: 0 25px 0 20px;

      strong {
        font-family: $SourceSansPro-Bold;
      }

      &__number {
        color: #b5b9b9;
        float: left;
      }

      &__name-and-field {
        color: #7e8385;
        float: right;
      }
    }
  }
}
