.portfolio-page {
  .container {
    width: 900px;
  }

  .portfolio-content {
    background-color: #ffffff;
    color: #9da2a5;
    // Separates this from the portfolio header
    margin-top: 1px;
  }

  .row {
    @include legacy-pie-clearfix;
    display: block;

    // Columns and Offsets
    $this-columns-count: 20;
    @for $i from 1 through $this-columns-count {
      .column-#{$i} {
        float: left;
        display: block;
        width: ($i * 100%) / $this-columns-count;
      }

      .offset-left-#{$i} {
        margin-left: ($i * 100%) / $this-columns-count;
      }

      .offset-right-#{$i} {
        margin-right: ($i * 100%) / $this-columns-count;
      }
    }

    // Layout elements
    .left {
      float: left;
    }

    .right {
      float: right;
    }

    // Items
    .title {
      font-family: $MuseoSans-300;
      font-size: 25px;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1em;
    }

    img {
      display: block;
      height: auto;
      width: auto;
    }
  }

  $this-top-spacing: 25px;
  .project-navigation {
    color: rgba($dark-blue, 0.7);
    float: right;
    font-size: 14px;
    margin-top: $this-top-spacing;

    .icon-arrow-right-pointy {
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      padding-left: 10px;
      vertical-align: top;
    }
  }

  .simple-footer {
    padding-top: $this-top-spacing;
    text-align: left;
  }
}

@import "anyvan/anyvan";
@import "grow/grow";
@import "kartist/kartist";
@import "quizkick/quizkick";

#portfolio-home-page {
  $this-margin: 8px;
  
  @media only screen and (min-width : 1920px) {
    & > .container {
      width: 1100px;
    }
  }

  // todo remember this: don't change the covers size individually!
  // they all work together as a group. there's no css to keep them
  // in place. resizing a cover may break the layout.
  .covers {
    @include legacy-pie-clearfix;

    .column {
      float: left;
      width: 50%;

      &:first-child {
        padding-right: $this-margin / 2;
      }

      &:last-child {
        padding-left: $this-margin / 2;
      }
    }

    .cover {
      display: block;
      margin-bottom: $this-margin;
      opacity: 0.8;
      @include transition(opacity $rapid-transition-timing);

      &:hover {
        opacity: 1;
      }

      img {
        // This way it will strech to fit its container
        display: block;
        height: auto;
        width: 100%;
      }
    }
  }
}
