#justification-page {
  $this-blue-color: #202a35;
  $this-text-color: #80868a;

  .container {
    width: 1000px;
  }

  .justification-container {
    background: #ffffff;
    @include box-shadow($normal-box-shadow);
    padding: 105px 138px;

    p {
      line-height: $small-line-height;
      font-size: 15px;
    }

    & > header {
      p {
        color: $this-text-color;
      }
    }
  }

  .very-big-title {
    color: $this-blue-color;
    font-family: $SourceSansPro;
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 25px;

    strong {
      font-family: $SourceSansPro;
      font-weight: 600;
      font-size: 37px;
    }
  }

  .reasons {
    display: block;
    @include legacy-pie-clearfix;
    margin-top: 61px;
    padding-top: 33px;
    position: relative;

    &:before {
      background: #e8e9ea;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 130px;
    }

    li {
      float: left;
      height: 170px;
      padding-left: 30px;
      width: 50%;

      &:nth-child(odd) {
        padding-left: 0;
        padding-right: 30px;
      }
    }

    .big-title {
      color: rgba($this-blue-color, 0.45);
      font-size: 29px;
      font-family: $FF-DIn-Condensed-Bold;
      margin-bottom: 20px;
    }

    p {
      color: rgba($this-text-color, 0.5);
    }
  }

  .buttons-and-cta {
    @include legacy-pie-clearfix;
    margin-top: 50px;

    .button {
      $this-color: #4c8fe9;

      border-color: $this-color;
      @include border-radius(0);
      color: $this-color;
      float: left;
      margin: 0;
      padding: 7px 0;
      text-transform: uppercase;
      width: 110px;

      &:hover {
        background: $this-color;
      }
    }

    .get-as-pdf {
      color: rgba(#80868a, 0.5);
      float: right;
      font-size: 15px;
      line-height: 30px;
      text-decoration: underline;

      &:hover {
        color: rgba(#80868a, 0.75);
      }
    }
  }
}
