#justification-page {
  $this-blue-color: #202a35;
  $this-text-color: #80868a;

  .container {
    width: 1000px;
  }

  .justification-container {
    background: #ffffff;
    @include box-shadow($normal-box-shadow);
    padding: 105px 136px 70px 136px;
    position: relative;

    p {
      line-height: 1.3;
      font-size: 15px;
    }

    & > header {
      p {
        color: $this-text-color;
      }
    }
  }

  .very-big-title {
    color: $this-blue-color;
    font-family: $SourceSansPro;
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 25px;

    strong {
      font-family: $SourceSansPro;
      font-weight: 600;
      font-size: 37px;
    }
  }

  .reasons {
    display: block;
    @include legacy-pie-clearfix;
    margin-top: 75px;
    position: relative;

    li {
      float: left;
      height: 235px;
      padding-left: 30px;
      width: 50%;

      &.reason--small {
        height: 145px;
      }

      &:nth-child(odd) {
        padding-left: 0;
        padding-right: 30px;
      }
    }

    .reason__hover-zone:hover {
      .big-title {
        color: rgba($this-blue-color, 1);
      }

      p {
        color: rgba($this-text-color, 1);
      }
    }

    .big-title {
      color: rgba($this-blue-color, 0.5);
      font-size: 29px;
      font-family: $FF-DIn-Condensed-Bold;
      margin-bottom: 16px;
    }

    p {
      color: rgba($this-text-color, 0.6);
    }
  }

  .buttons-and-cta {
    @include legacy-pie-clearfix;
    margin-top: 80px;

    .button {
      $this-color: #4c8fe9;

      border-color: $this-color;
      @include border-radius(0);
      color: $this-color;
      float: left;
      font-size: 0;
      margin: 0;
      padding: 9px 0;
      text-transform: uppercase;
      width: 110px;

      &:hover {
        background: $this-color;
      }

      @extend %has-an-icon;
      &:before {
        content: $icon--text-hire-us;
        font-size: 10px;
      }
    }

    .clutch-logo {
      height: 40px;
      float: right;
      margin-top: -5px;
      width: auto;
    }

    .get-as-pdf {
      color: rgba(#80868a, 0.5);
      font-size: 15px;
      line-height: 30px;
      position: absolute;
      right: 35px;
      top: 30px;
      text-decoration: underline;

      &:hover {
        color: rgba(#80868a, 0.75);
      }
    }
  }
}
