#quizkick-portfolio-page {
  $this-client-color: #dddddd;

  .portfolio-header .logo img {
    height: image-height("assets/images/portfolio/quizkick/logo.png");
    width: image-width("assets/images/portfolio/quizkick/logo.png");
  }

  .row {
    position: relative;

    p {
      font-size: 14px;
    }
  }

  .row .description {
    color: rgba($this-client-color, 0.85);
    position: absolute;
    left: 55px;
    width: 315px;

    &.first {
      top: 830px;

      .title {
        text-transform: uppercase;
      }
    }

    &.second {
      bottom: 75px;
    }
  }

  .row .title {
    font-family: $Bender-Bold;
    font-size: 28px;
  }

  .row .button {
    border-color: #86888d;
    margin-top: 1em;

    &:hover {
      background: #86888d;
      color: #ffffff;
    }
  }
}