.simple-header {
  color: rgba($dark-blue, 0.7);
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 550px;

  .page-name {
    font-size: 25px;
    line-height: 45px;
  }

  .page-description {
    line-height: $normal-line-height;
  }

  .small-line {
    background: rgba($dark-blue, 0.2);
    height: 1px;
    margin: 25px auto 30px auto;
    width: 50px;
  }
}
