//////////////////////
// The blur overlay //
//////////////////////

.fancy-slider {
  #blur-overlay {
    background: rgba(#ffffff, 0.75);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $fancy-slider-blur-overlay-z-index;
  }

  // By default, all blurred resources are hidden
  .blurred {
    visibility: hidden;
  }

  // Increases the performance
  .blurred, .unblurred,
  #blur-overlay {
    @include transform(translateZ(0));
  }
}
