#preloader {
  background: #ffffff;
  bottom: 0;
  left: 0;
  min-height: $min-page-height;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: $preloader-z-index;

  @media only screen and (max-height: $min-page-height) {
    // So the content becomes scrollable!
    position: absolute;
  }

  .knob-and-logo {
    height: 200px;
    width: 200px;

    margin: -100px 0 0 -100px;

    position: absolute;
    left: 50%;
    top: 50%;

    .big-logo {
      height: 84px;
      width: 56px;

      margin: auto;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  .text {
    text-align: center;

    height: 48px;
    width: 100%;

    margin: auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 80%;

    .hello {
      color: #868d94;
      font-family: $MuseoSans-300;
      font-size: 30px;
    }

    .website {
      color: #d2d4d7;
      font-size: 18px;
    }
  }
}

// AngularJS Animate

#preloader {
  $this-transition-duration: 0.25s;
  $this-transition-delay: 0.5s;

  @include transition(opacity $this-transition-duration ease-in-out);
  @include transition-delay($this-transition-delay);

  .knob-and-logo {
    @include transition(opacity $this-transition-duration ease-in-out, transform $this-transition-duration ease-in-out);
    @include transition-delay($this-transition-delay);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    .knob-and-logo {
      @include transform(translate3d(0,0,0) scale(1.2,1.2));
    }

    & {
      opacity: 0;
    }
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    .knob-and-logo {
      @include transform(translate3d(0,0,0) scale(1,1));
    }

    & {
      opacity: 1;
    }
  }
}
