#preloader {
  background: #e6e8e9;
  bottom: 0;
  left: 0;
  min-height: $min-page-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $preloader-z-index;

  // Force GPU Rendering
  @include transform(translate3d(0,0,0));

  @media only screen and (max-height: $min-page-height) {
    // So the content becomes scrollable!
    position: absolute;
  }

  & > p {
    position: absolute;
    left: 13.5%;
    margin-top: -63px;
    top: 50%;

    color: #717982;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;

    img {
      display: block;
      height: 22px;
      width: auto;
    }

    strong {
      display: block;
      line-height: 1;
      font-size: 40px;
      height: 40px;
      margin: 8px 0 10px 0;
    }
  }

  & > img {
    position: absolute;
    right: 10%;
    top: -75px;

    height: 117.5%;
    opacity: 0.05;
    width: auto;
  }
}

// AngularJS Animate
#preloader {
  $this-transition-duration: 0.5s;

  @include transition(opacity $this-transition-duration ease);

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}
