.header-index {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $header-index-z-index;
}

.header-index-container {
  display: table;
  height: $navigation-hamburger-height;
  width: 100%;

  // These ensure everything stays on the same line
  .logo, .navigation-hamburger {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }

  .logo  {
    cursor: default;
    width: 99%;
  }

  .navigation-hamburger {
    width: 1%;
  }

  // The logo style
  .logo {
    color: #adb0b3;
    font-family: $Rosario-Regular;
    font-size: 15px;

    img, span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      height: 25px;
      opacity: 0.85;
      width: auto;
    }

    span {
      border-left: 1px solid #d6d7d9;
      line-height: 35px;
      margin-left: 17px;
      padding-left: 13px;
    }

    strong {
      font-family: $Rosario-Bold;
    }
  }
}
